<app-form></app-form>

<div class="container mt-4">
  <div class="row">
    <div class="col">
      <ul class="nav navbar">
        <li class="link">
          <button class="btn btn-dark">
          <a routerLink="/" class="link-item">One</a>
          </button>
        </li>
        <li class="link">
          <button class="btn btn-dark">
          <a routerLink="/two" class="link-item">Two</a>
          </button>
        </li>
        <li class="link">
          <button class="btn btn-dark">
          <a routerLink="/three" class="link-item">Three</a></button>
        </li>
      </ul>
      <div class="mt-4">
      <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>